body {
    background-color: powderblue;
}

h1 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

h5 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

h6 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}
